<%- include('partials/header.ejs')%>
<h2>Pagina de Clientes</h2>
    <table class="table table-sm table-hover table-bordered">
<thead>
<tr>
        <th>Nome</th><th>CPF</th><th>Endereço</th>
    </tr>
</thead>
    
<% ListaClientes.forEach((ListaClientes)=>{%>
<tr>
    <th><%= ListaClientes.nome %></th>
    <th><%= ListaClientes.cpf %></th>
    <th><%= ListaClientes.endereco %></th>
</tr>

<%})%>
</table>
</body>
</html>